* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

h1, .h1 {
  letter-spacing: 0.03em;
}

.font--base {
  font-family: "Work Sans";
}

.font--headings {
  font-family: "Ogg";
}

@media (max-width: 991.98px) {
  body {
    padding-top: 67px;
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 67px;
  }
}

header {
  font-size: 0.8125rem;
}

header .btn__menu {
  box-shadow: none !important;
}

header .navbar__desktop .btn__menu {
  width: 24px;
  height: 24px;
  position: relative;
}

header .navbar__desktop .btn__menu img {
  position: absolute;
  left: 0;
  top: 0;
}

header .navbar__desktop .btn__menu .icon--menu {
  opacity: 1;
  transition: opacity .75s ease-in-out .5s;
}

header .navbar__desktop .btn__menu .icon--close {
  opacity: 0;
  transition: opacity .75s ease-in-out;
}

header .navbar__desktop .btn__menu.menu--opened .icon--menu {
  opacity: 0;
  transition: opacity .75s ease-in-out;
}

header .navbar__desktop .btn__menu.menu--opened .icon--close {
  opacity: 1;
  transition: opacity .75s ease-in-out .5s;
}

header .navbar__desktop .nav__menu {
  max-width: 100vw;
  overflow: hidden;
  transition: max-width 1.5s ease-in-out;
}

header .navbar__desktop .nav__menu.collapsed {
  max-width: 0vw;
}

@media screen and (max-width: 575.98px) {
  header .navbar__mobile .logo img {
    max-width: 221px;
  }
}

#menu__modal .btn__menu {
  box-shadow: none !important;
}

#menu__modal .lead {
  font-weight: 400;
}

#privacy__modal .btn__menu {
  box-shadow: none !important;
}
