fieldset {
  border: 1px solid #000;
  background: #fff;
}
fieldset legend {
  background: #fff;
  display: inline;
  width: auto;
  font-size: small;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
}
fieldset input {
  border: none !important;
  box-shadow: none !important;
}